<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/styles.css" />
    <link rel="stylesheet" href="css/mobile.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Arvo&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Allura&family=Waterfall&display=swap"
      rel="stylesheet"
    />
    <title>Contact</title>
  </head>
  <body>
    <menu>
      <ul>
        <a href="/">
          <li>About</li>
        </a>
        <a href="/">
          <li class="med">Mediums</li>
        </a>
        <a href="/">
          <li>Home</li>
        </a>
      </ul>
      <main>
        <p>Contact Me</p>
        <div>
          <form action="/contactForm" method="post">
            <input type="text" name="person" placeholder="Full Name" />
            <input type="email" name="email" placeholder="Your Email" />
            <input type="text" name="subject" placeholder="Subject" />
            <textarea name="message" placeholder="Message" rows="10"></textarea>
            <button type="submit" value="Send Message">Send</button>
          </form>
        </div>
      </main>
    </menu>
    <img class="sig" src="img/tempSig.png" alt="signature" />
    <footer>
      <h4>Copyright © 2022 Reagan Roberts. All Rights Reserved</h4>
      <script
        src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"
      ></script>
      <script src="app.js"></script>
    </footer>
  </body>
</html>
