<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/styles.css" />
    <link rel="stylesheet" href="css/mobile.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Arvo&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Allura&family=Waterfall&display=swap"
      rel="stylesheet"
    />
    <title>Emma Sáenz</title>
    <link rel="icon" href="img/tempSig.png" type="image/png" />
  </head>
  <body>
    <menu>
      <ul>
        <a href="/contact">
          <li>Contact</li>
        </a>
        <a href="/portfolio">
          <li>Portfolio</li>
        </a>
        <a href="/">
          <li>About</li>
        </a>
      </ul>
    </menu>
    <header>
      <img class="sig" src="img/tempSig.png" alt="signature" />
      <div class="header">
        <img class="homeJJ" src="img/homeJack.png" alt="Jean Jacket" />
        <h1>Emma Tasset Sáenz</h1>
      </div>
    </header>
    <main class="home">
      <div>
        <img src="img/mask.png" alt="Mask" />
      </div>
      <div>
        <img src="img/cuban.png" alt="Cuban" />
      </div>
      <div>
        <img src="img/skull.png" alt="Skull" />
      </div>
      <div>
        <img src="img/hands.png" alt="Hands" />
      </div>
      <div>
        <img src="img/tiger.png" alt="Tiger" />
      </div>
      <div>
        <img src="img/chief.png" alt="Chief" />
      </div>
    </main>
    <footer>
      <h4>Copyright © 2022 Reagan Roberts. All Rights Reserved</h4>
    </footer>
  </body>
</html>
