<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/header.css" />
    <link rel="stylesheet" href="css/styles.css" />
    <link rel="stylesheet" href="css/mobileHeader.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Arvo&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Allura&family=Waterfall&display=swap"
      rel="stylesheet"
    />
    <title>Portfolio</title>
    <link rel="icon" href="img/tempSig.png" type="image/png" />
  </head>
  <body>
    <menu>
      <ul>
        <a href="/contact">
          <li>Contact</li>
        </a>
        <a href="/">
          <li>About</li>
        </a>
        <a href="/">
          <li>Home</li>
        </a>
      </ul>
      <img class="sig" src="img/tempSig.png" alt="signature" />
    </menu>
    <main class="portfolio">
      <span> <img src="img/hands.png" /></span>
      <span> <img src="img/skull.png" /> </span>
      <span> <img src="img/chief.png" /> </span>
      <span> <img src="img/cuban.png" /> </span>
      <span> <img src="img/mask.png" /> </span>
      <span> <img src="img/tiger.png" /> </span>
      <span> <img src="img/spider.png" /> </span>
      <span> <img src="img/bee.png" /> </span>
      <span> <img src="img/eye.png" /> </span>
      <span> <img src="img/lion.png" /> </span>
      <span> <img src="img/boots.png" /> </span>
      <span> <img src="img/trip.png" /> </span>
      <span> <img src="img/geo.png" /> </span>
      <span> <img src="img/xmas.png" /> </span>
      <span> <img src="img/nft.png" /> </span>
      <span> <img src="img/dope.png" /> </span>
      <span> <img src="img/hell.png" /> </span>
      <span> <img src="img/twigs.png" /> </span>
    </main>
    <footer>
      <h4>Copyright © 2022 Reagan Roberts. All Rights Reserved</h4>
    </footer>
  </body>
</html>
