main {
  /* border: 2px solid black; */
}

form {
  /* margin: auto; */
  width: fit-content;
  float: right;
}

input,
textarea {
  text-decoration: none;
  font-family: 'Arvo', serif;
  margin-bottom: 1vw;
  background-color: rgba(251, 251, 251, 0);
  border: none;
  border-bottom: 2px solid rgba(0, 0, 0, 0.202);
  outline: none;
}

.name,
.email {
  width: 80%;
  font-size: 1.5vw;
  line-height: 5vw;
  margin-left: 10%;
  text-align: center;
}

.subject,
.company {
  line-height: 5vw;
  font-size: 1.5vw;
  text-align: center;
  width: 35%;
  margin-left: 9%;
}

form {
  background: #e2e5d7;
  box-shadow: inset -5px 5px 12px #c5c7bb, inset 5px -5px 12px #fffff3;
}

textarea {
  width: 90%;
  margin-left: 5%;
}

button {
  background: #e2e5d7;
  box-shadow: -5px 5px 12px #c5c7bb, 5px -5px 12px #fffff3;
  border: none;
  margin-bottom: 20%;
  margin-top: 15%;
  width: 20vw;
  line-height: 3vw;
  margin-left: 7.5vw;
  font-size: 1.5vw;
}

button:hover {
  background: #e2e5d7;
  box-shadow: inset -5px 5px 12px #c5c7bb, inset 5px -5px 12px #fffff3;
}

.social {
  width: 40%;
  height: 50vh;
}

.social > div {
  margin: 10%;
  font-size: 3.5vw;
  text-align: center;
  font-family: 'Arvo', serif;
  font-weight: 700;
}

i {
  /* margin-top: 1vw; */
  color: rgba(0, 0, 0, 0.613);
  font-size: 4x;
}
.social > div > a{
  background-color: #c5c7bb00;
  box-shadow: none;
  float: none;
}

footer{
  margin-top: 40%;
}

.fab:hover{
  color: rgba(0, 0, 0, 0.449);
}