/* ---------- HOME---------- */
.home {
  display: flex;
  flex-wrap: wrap;
}

.home > div {
  margin: auto;
  margin-top: 3vh;
}

.home > div > img {
  margin: 0.1vw;
  width: 20vw;
}

/* ---------- PORTFOLIO---------- */
.portfolio {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5vw;
}

.portfolio > span {
  flex-grow: 1;
  margin-bottom: 2vw;
  margin-left: 1vw;
}

.portfolio > span > img {
  max-width: 275px;
}

/* ---------- CONTACT---------- */
.social {
  text-align: center;
}

.socialLink {
  display: flex;
  margin: auto;
  width: fit-content;
}

.socialLink > div > a {
  color: black;
  margin-top: 2vw;
  text-decoration: none;
}

.socialLink > div:nth-child(2) > a {
  margin: 2vw;
}

.socialLink > div > a:hover {
  color: rgba(0, 0, 0, 0.449);
}

/* ---------- CONTACT: FORM---------- */
form {
  margin: auto;
  width: fit-content;
  background: #e2e5d7;
  box-shadow: inset -5px 5px 12px #c5c7bb, inset 5px -5px 12px #fffff3;
}

input {
  font-size: 1.5vw;
  line-height: 5vw;
  text-align: center;
}

textarea {
  color: rgba(0, 0, 0, 0.798);
  font-size: 1.5vw;
  margin-left: 5%;
  width: 90%;
}

input,
textarea {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  border-bottom: 2px solid rgba(0, 0, 0, 0.202);
  font-family: 'Arvo', serif;
  margin-bottom: 1vw;
  outline: none;
  text-decoration: none;
}

.name,
.email {
  margin-left: 10%;
  width: 80%;
}

.subject,
.company {
  margin-left: 9%;
  width: 35%;
}

button {
  background: #e2e5d7;
  border: none;
  box-shadow: -5px 5px 12px #c5c7bb, 5px -5px 12px #fffff3;
  font-family: 'Arvo', serif;
  font-size: 1.5vw;
  line-height: 3vw;
  margin: 15% 0 5% 7.5vw;
  width: 20vw;
  color: rgba(0, 0, 0, 0.798);
}

button:hover {
  background: #e2e5d7;
  box-shadow: inset -5px 5px 12px #c5c7bb, inset 5px -5px 12px #fffff3;
}
/* Above checked */
